@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../assets/Fonts/GeneralSans-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.footer {
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "GeneralSans-Regular";
  padding: 1rem 0rem;
  padding-bottom: 4rem;
}
.footer-cont {
  margin-top: 50px;
}
.footer-grid {
  grid-column-gap: 70px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.6fr 0.6fr;
  grid-auto-columns: 1fr;
  max-width: 73%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}
.tags {
  margin-top: 30px;
}
.tags div {
  padding-top: 0.5rem;
}

@media screen and (max-width: 991px) {
  .footer-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding-left: 25px;
  }
}
@media screen and (max-width: 479px) {
  .footer-grid {
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    padding-left: 20px;
  }
}

/* Footer Layout css  */
@font-face {
  font-family: "GeneralSans";
  src: url("../assets/Fonts/GeneralSans-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.nav-tags {
  font-family: "GeneralSans";
}
.nav-tags a {
  letter-spacing: 2px;
  font-size: 13px;
  position: relative;
  padding: 0 6px;
}

.nav-tags a::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
}
.nav-tags a:hover::after {
  width: 110%;
}

nav .logo {
  padding-left: 10px;
}

@media screen and (max-width: 990px) {
  .footer-nav-tags {
    display: none;
  }
}
.social-tags a {
  position: relative; /* Ensures the pseudo-element positions relative to the link */
  z-index: 1; /* Ensures text appears above the background */
  overflow: hidden; /* Prevents animation overflow */
}

.social-tags a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.social-tags a:first-child::before {
  background-color: #1877f2; /* Facebook */
}

.social-tags a:nth-child(2)::before {
  background-color: #c32aa3; /* Instagram */
}

.social-tags a:nth-child(3)::before {
  background-color: #1da1f2; /* Twitter */
}

.social-tags a:hover::before {
  transform: translateY(0);
}
